## Pareto Analysis

The objective of this analysis is to identify the Customers, Products and Stores(Locations) that contribute the sizable chunk of business.

This analysis will help us to understand the customers who need to be focused, Products which have growth potential, stores which have highest revenue generation etc

In [1]:
import pandas as pd
import numpy as np
import os

try:
    

    df = pd.read_excel('/Users/rajeshpillai/Downloads/Online_Retail.xlsx',skiprows=0,header=0)

    df = df.dropna()

except:
    print('File Not Found')
    
# Add Total by multiplying Quantity and Unit Price

df['Total'] = df.Quantity*df.UnitPrice

# Change date format to YYYYMM

df['DateYMD'] = df.InvoiceDate.dt.strftime('%Y%m%d')

df_customer = df.copy(deep=True)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total,DateYMD
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,20101201
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20101201
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,20101201
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20101201
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,20101201

### Customers

1. Find the number of customers

2. Total Sales per customers

3. Cumulative Sales per customer (in descending order)

In [2]:
df_customer = df.copy(deep=True)

df_customer = df_customer[['CustomerID','Total']]

df_customer = df_customer.groupby(by='CustomerID').sum().sort_values(by='Total', ascending=False).reset_index()

# Remove all negative transactions

df_customer = df_customer[df_customer.Total >0]

# No of customers

no_of_customers = len(df_customer.CustomerID.unique())

df_customer.head()

   CustomerID      Total
0     14646.0  279489.02
1     18102.0  256438.49
2     17450.0  187482.17
3     14911.0  132572.62
4     12415.0  123725.45

df['cumulative_sum'] = df.total.cumsum()
df['cumulative_perc'] = 100*df.cumulative_sum/df.total.sum()

In [3]:
# Cumulative Sum

df_customer['Cumulative_sum'] = df_customer.Total.cumsum()

df_customer['Cumulative_perc'] = 100 * df_customer.Cumulative_sum /df_customer.Total.sum()



df_customer.head()

   CustomerID      Total  Cumulative_sum  Cumulative_perc
0     14646.0  279489.02       279489.02         3.361952
1     18102.0  256438.49       535927.51         6.446632
2     17450.0  187482.17       723409.68         8.701841
3     14911.0  132572.62       855982.30        10.296547
4     12415.0  123725.45       979707.75        11.784831

In [4]:
df_customer[df_customer.Cumulative_perc <80.0]

      CustomerID      Total  Cumulative_sum  Cumulative_perc
0        14646.0  279489.02      279489.020         3.361952
1        18102.0  256438.49      535927.510         6.446632
2        17450.0  187482.17      723409.680         8.701841
3        14911.0  132572.62      855982.300        10.296547
4        12415.0  123725.45      979707.750        11.784831
5        14156.0  113384.14     1093091.890        13.148720
6        17511.0   88125.38     1181217.270        14.208774
7        16684.0   65892.08     1247109.350        15.001385
8        13694.0   62653.10     1309762.450        15.755034
9        15311.0   59419.34     1369181.790        16.469785
10       13089.0   57385.88     1426567.670        17.160075
11       14096.0   57120.91     1483688.580        17.847178
12       15061.0   54228.74     1537917.320        18.499492
13       17949.0   52750.84     1590668.160        19.134028
14       15769.0   51823.72     1642491.880        19.757411
15       16029.0   50992.61     1693484.490        20.370798
16       14298.0   50862.44     1744346.930        20.982618
17       14088.0   50415.49     1794762.420        21.589062
18       17841.0   40340.78     1835103.200        22.074318
19       13798.0   36351.42     1871454.620        22.511587
20       16422.0   33805.69     1905260.310        22.918233
21       12931.0   33462.81     1938723.120        23.320755
22       16013.0   33366.25     1972089.370        23.722115
23       15838.0   33350.76     2005440.130        24.123289
24       17389.0   31300.08     2036740.210        24.499795
25       17404.0   30300.82     2067041.030        24.864281
26       12748.0   29072.10     2096113.130        25.213987
27       13098.0   28658.88     2124772.010        25.558723
28       13081.0   27964.48     2152736.490        25.895105
29       13408.0   27487.41     2180223.900        26.225749
...          ...        ...             ...              ...
1147     16066.0    1521.87     6605987.311        79.462925
1148     15906.0    1521.79     6607509.101        79.481230
1149     13764.0    1521.76     6609030.861        79.499535
1150     16790.0    1520.12     6610550.981        79.517821
1151     16880.0    1519.08     6612070.061        79.536094
1152     13213.0    1518.43     6613588.491        79.554359
1153     12818.0    1517.88     6615106.371        79.572617
1154     15532.0    1517.08     6616623.451        79.590866
1155     16748.0    1515.90     6618139.351        79.609101
1156     15392.0    1515.73     6619655.081        79.627333
1157     16053.0    1511.95     6621167.031        79.645520
1158     17997.0    1511.30     6622678.331        79.663700
1159     16910.0    1510.06     6624188.391        79.681864
1160     15265.0    1506.12     6625694.511        79.699981
1161     15625.0    1504.56     6627199.071        79.718079
1162     12937.0    1504.27     6628703.341        79.736174
1163     17152.0    1503.50     6630206.841        79.754260
1164     15530.0    1502.35     6631709.191        79.772331
1165     16762.0    1501.38     6633210.571        79.790391
1166     17571.0    1498.51     6634709.081        79.808417
1167     16279.0    1496.68     6636205.761        79.826420
1168     13320.0    1491.70     6637697.461        79.844364
1169     15916.0    1491.24     6639188.701        79.862302
1170     15057.0    1489.50     6640678.201        79.880219
1171     14963.0    1487.80     6642166.001        79.898115
1172     17002.0    1487.78     6643653.781        79.916012
1173     17553.0    1487.60     6645141.381        79.933906
1174     16395.0    1486.90     6646628.281        79.951792
1175     14878.0    1485.54     6648113.821        79.969661
1176     14414.0    1485.13     6649598.951        79.987526

[1177 rows x 4 columns]

### Analysis

20% of the business is coming from the top 15 accounts itself.

In [5]:
#df_customer.plot(x=df_customer.CustomerID.count(),y=['Cumulative_perc'],kind='bar')

# Plot it !!!

df_customer.head()

   CustomerID      Total  Cumulative_sum  Cumulative_perc
0     14646.0  279489.02       279489.02         3.361952
1     18102.0  256438.49       535927.51         6.446632
2     17450.0  187482.17       723409.68         8.701841
3     14911.0  132572.62       855982.30        10.296547
4     12415.0  123725.45       979707.75        11.784831

In [6]:
from paretochart import pareto

import matplotlib.pyplot as plt

# create a grid of subplots
fig, axes = plt.subplots(2, 2)

labels = df_customer.labels

data = df_customer.Total

pareto(data, labels, axes=axes[0, 1], limit=0.75, line_args=('g',))

plt.title('Data with labels, green cum. line, limit=0.75', fontsize=10)

ImportError: cannot import name 'pareto' from 'paretochart' (/Users/rajeshpillai/anaconda3/lib/python3.7/site-packages/paretochart/__init__.py)